*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}
.logo img {
    width: 7vw;
    height: 7vh;

}
.logo {
    padding-top: 40px;

}

.cost {
    display: flex;
    padding-top: 40px;
}

.cost div {
    padding-right: 3rem;
}

.order {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.number {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid red;
    text-align: center;
    margin-left: 10px;
    
}
@media ( max-width:700px ) {
    .header {
        flex-direction: column;
    }
    .logo img {
        width: 5rem;
        height: 3rem;

    }
    .logo {
        padding-top: 10px;
    }

    .cost {
        padding-top: 10px;
    }
}